# dependencies
node_modules/

# build output
dist/

# env/config
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
server.log

# TS incremental build info
*.tsbuildinfo

# OS cruft
.DS_Store

#secrets
/secrets